alabaster==0.7.16
asgiref==3.8.1
babel==2.16.0
backports.tarfile==1.2.0
certifi==2024.2.2
cffi==1.17.1
channels==4.1.0
charset-normalizer==3.3.2
cryptography==44.0.0
Django==4.2.2
djangorestframework==3.15.1
docutils==0.21.2
idna==3.7
imagesize==1.4.1
importlib_metadata==8.5.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
Jinja2==3.1.5
keyring==25.5.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
more-itertools==10.5.0
myst-parser==3.0.1
nh3==0.2.20
packaging==24.2
pkginfo==1.12.0
pycparser==2.22
Pygments==2.18.0
PyYAML==6.0.2
readme_renderer==44.0
requests==2.32.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
SecretStorage==3.3.3
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.0
tomli==2.2.1
twine==6.0.1
typing_extensions==4.12.0
urllib3==2.2.1
zipp==3.21.0
